.header {
padding-top: 20.5px;
padding-bottom: 25.5px;
}
.container {
}
.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    max-width:146px ;
}

.menu {
    
}

.menu__list {
    display: flex;
    column-gap: 64px;
}
.menu__item {
}
.link-anchor {
    color: $colorText;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

