.author {
    max-width: 448px;
    

    .main-title {
        margin-bottom: 13px;
    }

    .main-subtitle {
        margin-bottom: 14px;
    }
}

.author__description {
    font-size: 20px;
    font-weight: 400;
}