.avatar{
    width: 629px;
    height: 575px;
    flex-shrink: 0;
    position: relative;
    
    &__layer{
        height: 374px;
        width: 374px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        border-radius: 36% 64% 78% 22% / 77% 58% 42% 23%;
        overflow: hidden;
        
    }

    .avatar__layer--1{
        z-index: 3;

    }

    .avatar__layer--2{
        background-color: $backgraundLayer;
        z-index: 2;
        transform:rotate(45deg)  translate(50%,-50%) ;
        transform-origin: top right;
    }

    .avatar__layer--3{
        background-color: $backgraundLayerSecond;
        z-index: 1;
        transform:rotate(75deg)  translate(50%,-50%);
        transform-origin: top right;
    }
}
